<div id="users">
  <div id="users_con" class="ui container">
  <div class="ui middle aligned list" v-if="!fetching">
      <a class="item user" v-for="user in usersList" v-link="{path:`/user/${user.id}`}">
        <div class="one_user">
          <div class="ava" :style="{'background':'url(' + user.avatar + ')'}">
            <!--<img :src="user.avatar">-->
          </div>
          <div class="info">
            <div class="name">{{user.name}}</div>
            <div class="info_sec">id: {{user.id}}</div>
            <div class="info_sec">signiture: {{user.signiture}}</div>
          </div>
        </div>
    </a>
  </div>
    <loadinganimation v-if="fetching"></loadinganimation>
  </div>
</div>
