#user{

  #content_top{

    height: 170px;
    width: 100%;
    background: #fafafa;
    display: flex;
    background: linear-gradient(-45deg,#ffc0cb 0,#6ea0b8 100%);

    #user_info{

      text-align: center;
      color: white;
      font-size: 1.1em;
      margin: auto;
      #user_avatar{
        height: 50px;
        width: auto;
        img{
          height:100%;
        }
      }
      #sub{
        font-size: 0.9em;
        color:grey;
      }
    }

  }

  #content_bottom{

    padding: 0.7em;
    font-size: 1.1em;
    line-height: 1.5em;
    background: #fafafa;
    .one_media{

      width:11% !important;
      margin-left:1.3% !important;

    }
    .one_dog{
      display: inline-block;
      width:49% !important;
      margin-left: 0.5% !important;
    }
    .sec{
      display: inline-block;
      width:48%;
      margin-left: 1%;
      vertical-align: top;
    }
    .showDogs,.Albums{

      background: #2185d0;
      color: white;
      font-weight: bold;
      padding: 0.5em;
      position: relative;
      &:hover{
        background: #1773b9;
        cursor: pointer;
      }

    }

    .Albums{

      background: #d074a5;
      &:hover{
        background: #ad6089;
        cursor: pointer;
      }

    }
    .info_section{

      vertical-align: top;
      margin: 0;
      width: 100%;
      display: block;
      box-shadow: none;
      border-radius: 0px;
      margin-top: 10px;
      border: none;
    }
    .sub_list{

      padding: 0em 1em;
    }

    input,textarea{

      display: inline-block;
      margin-top: 5px;
      width: 70%;
      margin-left: 5px;
      border: none;
      border-bottom: 1px dashed grey;
      &:focus{
        outline: none;
      }
      margin-bottom: 10px;
    }

    textarea{
      vertical-align: middle;
      border: 1px dashed grey;
      margin-top: 15px;
    }

    .ctr{
      //padding: 1em;
      padding-top: 0em;
      text-align: right;
    }

    #editCtr{display: inline-block;}
    #resetCtr{display: inline-block;}

  }
}
