<div id="user-result">
  <div id="close_btn"><i class="remove icon" @click="hideResult()"></i></div>
  <div id="users_con">
    <div class="ui middle aligned list">
      <a class="item user" v-for="user in users" v-link="{path:`/user/${user.id}`}">
        <div class="one_user">
          <div class="ava" :style="{'background':'url(' + user.avatar + ')'}">
            <!--<img :src="user.avatar">-->
          </div>
          <div class="info">
            <div class="name">{{user.name}}</div>
            <div class="info_sec">id: {{user.id}}</div>
            <div class="info_sec">signiture: {{user.signiture}}</div>
          </div>
        </div>
      </a>
    </div>
    <loadinganimation v-if="fetching"></loadinganimation>
  </div>
</div>
