#search{

  position: fixed;
  width:calc(100vw - 210px);
  margin-left: 210px;
  top:0;
  height: 50px;
  background: white;
  .ui.search .prompt~.search.icon{
    position: absolute;
    top:8px;
    right:0;
  }


  .search.ui{

    display: inline-block;
    width:70%;
    form{
      width:100%;
      input{
        width:100%;
      }
    }
  }

  .search_options{

    display: inline-block;
    width: 10%;
    max-width: 100px;
    padding-top: 5px;
    .ui.dropdown{

      min-width: inherit;
      border:none;
      &:active,&:hover{
        box-shadow: none;
        border:none;
        outline: none;
      }

      .menu{

        border:none
      }
    }
  }

  .input{

    height: 50px;
    width: 100%;
    border-radius: 0px;
    input{

      border-radius: 0px;
      border: none;
      width:100%;
      position: relative;
      i{
        position: absolute;
        top:7px;
        right:0;
      }
    }

  }


}
