<div id="search">

  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search ...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>

  <div class="search_options">

    <select class="ui dropdown">
      <option value="1">Users</option>
      <option value="0">Albums</option>
      <option value="0">Dogs</option>
    </select>

  </div>

  <div class="search_options">

    <select class="ui dropdown">
      <option value="1">Name</option>
      <option value="0">Id</option>
      <!--<option value="0">Dogs</option>-->
    </select>

  </div>

</div>
