<div id="breeds">
  <div id="breeds_con" class="ui container">
  <table class="ui fixed single line celled inverted striped table">
    <div class="breed" v-for="breed in breedsList">
    <div class="caption"><b>{{breed.type}}</b></div>

      <div class="sec" style="height: 290px">
        <div class="cap">bannerImage</div>
        <img :src="breed.bannerImage">
        <div class="con"><div class="ui mini input"><input v-model="breed.bannerImage"></div></div>
      </div>

      <div class="sec">
        <div class="cap">Name</div>
        <div class="con"><div class="ui mini input"><input v-model="breed.name"></div></div>
      </div>

      <div class="sec">
        <div class="cap">Id:<span style="font-weight: 100;margin-left: 5px">{{breed.id}}</span> </div>
      </div>
      <div class="sec">
        <div class="cap">lifeSpan: </div>
        <div class="con"><div class="ui mini input"><input v-model="breed.lifeSpan"></div></div>
      </div>
      <div class="sec">
        <div class="cap">weight: </div>
        <div class="con"><div class="ui mini input"><input v-model="breed.weight"></div></div>
      </div>
      <div class="sec">
        <div class="cap">height: </div>
        <div class="con"><div class="ui mini input"><input v-model="breed.height"></div></div>
      </div>
      <div class="sec">
        <div class="cap">costOfLiving: </div>
        <div class="con"><div class="ui mini input"><input v-model="breed.costOfLiving"></div></div>
      </div>
      <!--<div class="sec">-->
        <!--<div class="cap">easyToTrain: </div>-->
        <!--<div class="con">-->
          <!--<div class="ui fitted slider checkbox">-->
            <!--<input type="checkbox" :checked="breed.easyToTrain" @click="switchVal(breed,'easyToTrain')"><label></label>-->
          <!--</div>-->
          <!--{{breed.easyToTrain}}</div>-->
      <!--</div>-->
      <!--<div class="sec">-->
        <!--<div class="cap">intelligent: </div>-->
        <!--<div class="con">-->
          <!--<div class="ui fitted slider checkbox">-->
            <!--<input type="checkbox" :checked="breed.intelligent" @click="switchVal(breed,'intelligent')"><label></label>-->
          <!--</div>-->
          <!--{{breed.intelligent}}</div>-->
      <!--</div>-->
      <!--<div class="sec">-->
        <!--<div class="cap">description: </div>-->
        <!--<div class="con">-->
          <!--<div class="ui form">-->
              <!--<textarea rows="2" v-model="breed.description" style="margin-top: 0px; margin-bottom: 0px; height: 100px;"></textarea>-->
          <!--</div>-->

      <!--</div>-->
    <!--</div>-->
      <div class="sec"><div class="ctr">
        <a class="ui small button" v-link="{'path':`/breed/${breed.id}`}">Detail</a>
        <button class="ui small primary button" :class="{'loading':breed.$$updating}" @click="updateBreed(breed,$index)">
          Save
        </button>
      </div></div>
    <!--<thead>-->
    <!--<tr><th>Name</th>-->
      <!--<th>Id</th>-->
      <!--<th>costOfLiving</th>-->
      <!--<th>easyToTrain</th>-->
      <!--<th>intelligent</th>-->
      <!--<th>description</th>-->
    <!--</tr></thead>-->
    <!--<tbody>-->
    <!--<tr v-for="breed in breedsList">-->
      <!--<td>{{breed.name}}</td>-->
      <!--<td>{{breed.id}}</td>-->
      <!--<td>{{breed.costOfLiving}}</td>-->
      <!--<td>{{breed.easyToTrain}}</td>-->
      <!--<td>{{breed.intelligent}}</td>-->
      <!--<td>{{breed.description}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  </table>
  </div>
</div>
